<div>
    <h2>
        posts
    </h2>
    {{#each posts}}
    <h3>
        {{title}}
        
    </h3>
    <p>
        {{text}}
    </p>

    {{/each}}

<a href="/">homepage</a>
<a href="/profile">profile</a>

</div>